<div class="container-fluid">

    <h2 class="text-center mt-4 mb-1">Demo App &mdash; Angular</h2>
    <p class="long-copy">
        Angular Demo App Implementing Oauth2 authentication
    </p>

    <div class="col-md-4">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">View All Users</div>
            <div class="card-body">
                <p class="card-text">See All user Information and Address</p>
                <a routerLink="/user">Read more...</a>
            </div>
        </div>
    </div>

</div>