<div class="container">
<div *ngIf="isLoginError" class="alert alert-danger">{{login_error}}</div>
  <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm)" class="mx-auto col-md-4 offset-md-4 form-login">
    <!-- {{ userForm.value | json }} -->

    <!-- {{userForm.value.username}} -->
    <h4 class="text-center mb-2"> Login </h4>
    <div class="form-group">
      <div class="input-group">
        <input type="text" name="username" class="form-control" placeholder="Username" ngModel autofocus minlength="2"/>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <input type="password" name="password" class="form-control" placeholder="Password" ngModel />
      </div>
    </div>

    <!-- <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    
    <button class="btn btn-primary btn-lg btn-block mt-3" type="submit" [disabled]="loginForm.invalid">Log in</button>

    <p class="mt-3 mb-3 text-muted text-center">© 2018</p>
  </form>

</div>