<div class="container-fluid">

  <div class="row">
    <div *ngFor="let user of users" class="col-md-3">
      <div class="card border-secondary mb-3">
        <div class="card-header">Full Name: {{user.fullName}}</div>
        <div class="card-body text-secondary">
          <h5 class="card-title">Username: {{user.username}}</h5>
          <p class="card-text">Role: {{user.role}}</p>
          <p class="card-text">Status: {{user.status}}</p>
        </div>
      </div>
    </div>
  </div>

</div>