<div class="container-fluid">
  User Dashboard
</div>

<!-- <ul *ngFor="let user of users">
  <li>{{user.id}} - {{user.fullName}}</li>
</ul> -->
<!-- 
<div *ngFor="let user of users" class="col-md-4">
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{user.fullName}}</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Username: {{user.username}}</h5>
      <p class="card-text">Role: {{user.role}}</p>
      <p class="card-text">Status: {{user.status}}</p>
    </div>
  </div>
</div> -->